/*
/css/main.css
/css/menu.css
/plugins/lightbox/css/lightbox.css
*/
h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0;padding:0}a{outline:none}a img,:link img,:visited
img{border:none}html,body{background-color:#fff;font-family:Verdana,Arial,sans-serif;font-size:13px}.clear{clear:both}.left{float:left}.right{float:right}#wrapper{margin:10px
auto;width:980px}#slogan{font-family:"Trebuchet MS",Verdana,Arial,sans-serif}#lang{color:#888;font-size:14px;margin-right:25px;text-align:right}#lang
a{color:#888;font-family:"Trebuchet MS",Verdana,Arial,sans-serif;font-size:11px;text-decoration:none}#lang a.active,#lang a:hover{text-decoration:underline}#nav{font-family:"Trebuchet MS",Verdana,Arial,sans-serif}#header{margin-left:10px}#innerheader{background:url(/images/header.gif) top left no-repeat;height:208px}#slideshow{float:left;height:173px;width:614px}#homepage{float:left;margin-left:15px}#body{margin:0
10px 0 10px}h1,h2,h3,h4,h5,h6{color:#71a4ea}.title{font-family:"Trebuchet MS",Verdana,Arial,sans-serif;float:left}.date{color:#888;font-family:"Trebuchet MS",Verdana,Arial,sans-serif;font-size:11px;float:right;margin-left:20px}.error{color:#f33;padding:10px;text-align:center}.notice{color:#73b65a;padding:10px;text-align:center}#body
img{border:1px
solid #888;padding:2px;margin:5px
4px 0 0}#body img:hover{border:1px
solid #71a4ea}label{color:#888}.form_row{margin-top:10px}.form_error{color:#f33;display:inline}form
img{vertical-align:middle}#message_copy{vertical-align:middle;margin-right:10px}#footer{color:#888;font-size:11px;margin-top:20px;text-align:center}#footer
a{color:#888;text-decoration:none}#footer a:hover{text-decoration:underline}#nav,#nav
ul{font-size:18px;list-style:none;margin:0;padding:0;position:relative;z-index:2}#nav{height:25px}#nav
ul{border-top:1px solid #fff;border-right:1px solid #fff;border-left:1px solid #fff}#nav
li{background:#71a4ea url(/images/menu_right.gif) top right no-repeat;float:left}#nav li
li{background:#71a4ea;border-bottom:1px solid #fff;float:none}* html #nav li
li{float:left}#nav li
a{background:url(/images/menu_left.gif) top left no-repeat;color:#fff;display:block;float:left;height:25px;line-height:25px;margin:0
25px 0 0;padding:0
0 0 10px;text-decoration:none;white-space:nowrap}#nav li li
a{background:none;float:none;font-size:18px;height:25px;line-height:25px;margin:0;padding:0
9px 0 9px}#nav li:hover{position:relative;z-index:3}#nav li:hover
ul{left: -1px;top:25px}* html #nav li:hover
ul{left:10px}#nav
ul{position:absolute;left: -9999px;top: -9999px}* html #nav
ul{width:1px}#nav li:hover li:hover>ul{left:0px;margin-left:100%;top: -1px}#nav li:hover>ul
ul{position:absolute;left: -9999px;top: -9999px;width:auto}#nav li:hover>a{color:#dae7f8}#nav li:hover li:hover ul,#nav li:hover li:hover li:hover ul,#nav li:hover li:hover li:hover li:hover ul,#nav li:hover li:hover li:hover li:hover li:hover
ul{left:0px;margin-left:100%;top: -1px}#nav li:hover ul ul,#nav li:hover li:hover ul ul,#nav li:hover li:hover li:hover ul ul,#nav li:hover li:hover li:hover li:hover ul
ul{position:absolute;left: -9999px;top: -9999px}#nav li:hover a,#nav li:hover li:hover a,#nav li:hover li:hover li:hover a,#nav li:hover li:hover li:hover li:hover a,#nav li:hover li:hover li:hover li:hover li:hover a,#nav li:hover li:hover li:hover li:hover li:hover li:hover
a{color:#dbdbdb}#nav li:hover li a,#nav li:hover li:hover li a,#nav li:hover li:hover li:hover li a,#nav li:hover li:hover li:hover li:hover li a,#nav li:hover li:hover li:hover li:hover li:hover li
a{color:#fff}#lightbox{position:absolute;left:0;width:100%;z-index:100;text-align:center;line-height:0}#lightbox
img{width:auto;height:auto}#lightbox a
img{border:none}#outerImageContainer{position:relative;background-color:#fff;width:250px;height:250px;margin:0
auto}#imageContainer{padding:10px}#loading{position:absolute;top:40%;left:0%;height:25%;width:100%;text-align:center;line-height:0}#hoverNav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}#imageContainer>#hoverNav{left:0}#hoverNav
a{outline:none}#prevLink,#nextLink{width:49%;height:100%;background-image:url(data:image/gif;base64,AAAA);display:block}#prevLink{left:0;float:left}#nextLink{right:0;float:right}#prevLink:hover,#prevLink:visited:hover{background:url(/plugins/lightbox/images/prevlabel.gif) left 15% no-repeat}#nextLink:hover,#nextLink:visited:hover{background:url(/plugins/lightbox/images/nextlabel.gif) right 15% no-repeat}#imageDataContainer{font:10px Verdana, Helvetica, sans-serif;background-color:#fff;margin:0
auto;line-height:1.4em;overflow:auto;width:100%	}#imageData{padding:0
10px;color:#666}#imageData
#imageDetails{width:70%;float:left;text-align:left}#imageData
#caption{font-weight:bold;color:#fff}#imageData
#numberDisplay{display:block;clear:left;padding-bottom:1.0em}#imageData
#bottomNavClose{width:66px;float:right;padding-bottom:0.7em;outline:none}#overlay{position:absolute;top:0;left:0;z-index:90;width:100%;height:500px;background-color:#000}