<div id="header">
  <h1 id="slogan">Продава се къщата, където ще откриете спокойствието и ще се наслаждавате на красотата на море и гора!</h1>
  {% if page.lang == "bg" %}
  <div id="lang">
    <a class="active" href="/bg">Български</a> | <a href="/en">English</a> | <a href="/de">Deutsch</a> | <a href="/ru">Русский</a>
  </div>
  <ul id="nav">
    <li><a href="/bg">За къщата</a></li>
    <li><a href="/bg/описание-на-къщата">Описание</a></li>
    <li><a href="/bg/виртуален-тур-на-къщата-и-панорамата">Виртуален тур</a></li>
    <li><a href="/bg/галерия-със-снимки-на-къщата">Галерия</a></li>
    <li><a href="/bg/карта-на-местността">Карта</a></li>
    <li><a href="/bg/контакти">Контакти</a></li>
  </ul>
  {% endif %}
  <div id="innerheader">
    <div id="slideshow"></div>
    <div id="homepage"><a href="/bg"><img src="/images/homepage.jpg" alt="Homepage" /></a></div>
    <div class="clear"></div>
  </div>
</div>