<div id="header">
  {% if page.lang == "bg" %}
  <h1 id="slogan">Продава се къщата, където ще откриете спокойствието и ще се наслаждавате на красотата на море и гора!</h1>
  <div id="lang">
    <a class="active" href="/bg">Български</a> | <a href="/en">English</a> | <a href="/de">Deutsch</a> | <a href="/ru">Русский</a>
  </div>
  <ul id="nav">
    <li><a href="/bg">За къщата</a></li>
    <li><a href="/bg/описание-на-къщата">Описание</a></li>
    <li><a href="/bg/виртуален-тур-на-къщата-и-панорамата">Виртуален тур</a></li>
    <li><a href="/bg/галерия-със-снимки-на-къщата">Галерия</a></li>
    <li><a href="/bg/карта-на-местността">Карта</a></li>
    <li><a href="/bg/контакти">Контакти</a></li>
  </ul>
  {% else if page.lang == "en" %}
  <h1 id="slogan">We are selling the house, where you can find peace and enjoy the beauty of both Bulgarian Black Sea and forest!</h1>
  <div id="lang">
    <a href="/bg">Български</a> | <a class="active" href="/en">English</a> | <a href="/de">Deutsch</a> |  <a href="/ru">Русский</a>
  </div>
  <ul id="nav"><li><a class="selected" href="/en">About the house</a></li>
    <li><a href="/en/description-and-allocation-of-the-house-being-sold">Description</a></li>
    <li><a href="/en/virtual-tour-of-the-house-and-the-panorama">Virtual tour</a></li>
    <li><a href="/en/gallery">Gallery</a></li>
    <li><a href="/en/map">Map</a></li>
    <li><a href="/en/contact-us">Contacts </a></li>
  </ul>
  {% endif %}
  <div id="innerheader">
    <div id="slideshow"></div>
    <div id="homepage"><a href="/{{ page.lang }}"><img src="/images/homepage.jpg" alt="" /></a></div>
    <div class="clear"></div>
  </div>
</div>