<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.lang == "bg" %}
  <meta name="language" content="bg" />
  <meta name="title" content="{{ page.title }} :: Продава се къща с невероятна панорама към Черно Море и гората на природен парк Аладжа манастир на 4 км от Златни Пясъци и 8 км от гр. Варна" />
  <meta name="description" content="Продава се къща на три етажа (РЗП 650 кв м) с невероятна панорама към Черно море и гората на природен парк Аладжа манастир на 4 км от Златни пясъци и 8 км от гр. Варна." />
  <meta name="keywords" content="продава къща, продава къща варна, продава къща в България, продава къща златни пясъци, продава къща кабакум, продава къща с морска панорама, продава къща на черно море, продава обзаведена къща, продава къща курорт, продава имот, недвижим имот, недвижим имот в  България, недвижим имот варна, недвижим имот златни пясъци, недвижим имот кабакум, къща гора, къща край града, вилна зона, къща край варна, къща извън града, къща до варна, къща до златни пясаци, къща до варненски свободен универитет, къща дружба, къща св. св. константин и елена, вила, луксозна вила, луксозна вила в България, луксозен имот, луксозен имот в България, луксозен имот във Варна, луксозен имот във вилна зона на Варна, красива гледка, гледка към морето,  гледка към Черно море" />
  {% else if page.lang == "en" %}
  <meta name="language" content="en" />
  <meta name="title" content="{{ page.title }} :: The house being sold has an amazing view to the Black Sea, the forest of the national park Aladja Monastery and is only 4 Km away from Golden Sands resort and 8 Km away from the city of Varna (Bulgaria)" />
  <meta name="description" content="The house being sold has an amazing view to the Black Sea and the forest of the national park Aladja Monastery. It is only 4 Km away from Golden Sands resort and 8 Km away from the city of Varna (Bulgaria)." />
  <meta name="keywords" content="house for sale, house in Varna for sale, house near Varna for sale, house in Bulgaria for sale, house golden sands, house Varna Bulgaria, property Varna Bulgaria, property golden sands bulgaria, property black sea, property varna cabacum, property varna kabakum, property bulgaria resort, big house, house with sea view, house with sea panorama, house black sea view, house black sea panorama, house sea" />
  {% else if page.lang == "de" %}
  <meta name="language" content="de" />
  <meta name="title" content="{{ page.title }} :: Man verkaft ein Haus mit herrlichen Ausblicken auf das Schwarze Meer und den Wald von Naturpark Goldstrand. Das Haus befindet sich in der Villazone von Varna (Bulgarien) und ist nur 4 Kilometer vom Seebad Goldstrand entfernt." />
  <meta name="description" content="Wir verkaufen dreistöckiges Haus (650 m2) mit herrlichem Ausblick auf das Schwarze Meer. Es befindet sich in der Villazone von Varna, Bulgarien und ist nur 4 Kilometer vom Seebad Goldstrand entfernt." />
  <meta name="keywords" content="haus verkaufen, dreistoekiges haus zu verkaufen, haus verkauf, haus am schwarzen meer, haus schwarzen meer verkaufen, haus varna bulgarien, haus goldstrand bulgarien, haus mit meeresausblick verkaufen, villa verkaufen, villa mit meeresausblick in bulgarien, villa schwarzes meer, villa goldstrand verkaufen, luxhaus mit panorama, luxhaus mit ausblick auf das schwarze meer, haus in varna bulgarien zu verkaufen, villa in varna bulgarien verkauf" />
  {% endif %}
  <meta name="robots" content="index, follow" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/min.css">
  <script type="text/javascript" src="/js/min.js"></script>
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
  <meta name="verify-v1" content="JrgWethWJ4XSHrU7gK5VqXTe7eKRhiHnVBYmgycOVMM=">
  <meta name="google-site-verification" content="3RUWzRbEXRqoBJKN8Xm2XmTtofQ57lMDanO6lcWkvtU">
</head>
